<section style="padding: 10%; padding-top: 6%; padding-bottom: 6%;">
  <img src="../../../assets/studiologowhiteText.png" class="big-image">
  <h1 class="big-text">Arad Bozorgmehr (Vrglab)</h1>
  <h2 class="mid-text">Software developer and Content creator</h2>
  <h3 class="small-text">Hello i'm Arad Bozorgmehr aka Vrglab, i am a software developer/engineer, i make video games, websites and many other forms of software using various programming languages and API's such as Java, C#, C/C++, Springboot, Angular and many more, with about {{yearsSince2018}} years of experience</h3>
</section>
