.game-icon {
  border-radius: 20%;
}
.game-div {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 416px;
  margin: 0;
  text-align-all: center;
  white-space: nowrap;
}

button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

b {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.description-text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-overflow: ellipsis;
  white-space: normal;
}

@media (max-width: 1000px) {
  .game-icon {
    width: 220px;
    height: 150px;
  }
  .game-div {
    width: 220px;
    height: 316px;
  }

  button {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  b {
    font-size: 10px;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .description-text {
    font-size: 10px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-overflow: ellipsis;
    white-space: normal;
  }
}

@media (max-width: 600px) {
  .game-icon {
    width: 120px;
    height: 100px;
  }
  .game-div {
    width: 120px;
    height: 216px;
  }

  button {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  b {
    font-size: 8px;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
  }

  .description-text {
    font-size: 8px;
    position: absolute;
    bottom: 15%;
    left: 55%;
    width: 100px;
    transform: translateX(-50%);
    text-overflow: ellipsis;
    white-space: normal;
  }
}
