<mat-toolbar color="primary">
  <div class="left-section">
    <img src="assets/studiowordmarkwhite.png" alt="Logo" class="logo" (click)="navigateToHome()">
  </div>
  <div class="right-section">
    <button (click)="navigateToHome()" mat-button class="tool-bar-button">Home</button>
    <button (click)="navigateToGames()" mat-button class="tool-bar-button">Games</button>
    <button (click)="navigateToSkills()" mat-button class="tool-bar-button">Skills</button>
    <button (click)="navigateToSocials()" mat-button class="tool-bar-button">Socials</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>

  <div class="left-section">
    <p>Warning this website is still in development bugs are expected</p>
    <span class="spacer"></span>
    <p>&copy; 2023 Vrglab. All rights reserved.</p>
  </div>
</footer>
