<section class="center-section">
  <h1 class="big-text">Social media</h1>
  <h3 class="small-text">I am not active on a good 90% of these accounts but here they are, just if you're curious</h3>
  <div class="center-div">
    <app-social-media name="youtube" link="https://www.youtube.com/channel/UC5X7ZlWAoFNej0j6PSGF0Zg"></app-social-media>
    <app-social-media name="twitch" link="https://www.twitch.tv/vrglab"></app-social-media>
    <app-social-media name="patron" link="https://www.patreon.com/bePatron?u=63309332"></app-social-media>
    <app-social-media name="twitter" link="https://twitter.com/arad_bozorgmehr"></app-social-media>
    <app-social-media name="instagram" link="https://www.instagram.com/vrglab/"></app-social-media>
    <app-social-media name="itch.io" link="https://vrglab.itch.io/"></app-social-media>
    <app-social-media name="tiktok" link="https://www.tiktok.com/@vrglab"></app-social-media>
  </div>
</section>
