html
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #470037;
}

body {
  left: 0;
  width: 100%;
  margin: 0px !important;
  background-size: cover;
  background: linear-gradient(#041E00, #470037) no-repeat;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient( to left top, #041E00, #470037);;
  padding: 10px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.logo:hover {
  opacity: 0.7;
}

.mat-toolbar.mat-primary {
  background:  transparent !important;
}

button
{
  background: linear-gradient(66deg, #5e0049, #0f3200);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
}

a
{
  background: linear-gradient(66deg, #5e0049, #0f3200);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

.tool-bar-button {
  background: transparent;
  color: white;
  text-align: right;
}

.tool-bar-button:hover {
  opacity: 0.7;
}

html, body { height: 99%; }


@media screen and (min-width: 1000px) {
  .logo {
    float: left;
    width: 220px;
    height: 220px;
  }

  button
  {
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
  }

  a
  {
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
  }

  .mat-toolbar.mat-primary {
    padding: 5%;
  }

  .spacer {
    padding: 10px;
  }

  .tool-bar-button {
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  .logo {
    float: left;
    width: 100px;
    height: 100px;
  }

  button
  {
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
  }

  footer {
    font-size: 10px;
  }

  a {
    font-size: 10px;
  }

  .tool-bar-button {
    font-size: 30px;
  }

  .spacer {
    padding: 4px;
  }
}

@media (max-width: 800px) {
  .logo {
    float: left;
    width: 100px;
    height: 100px;
  }

  button
  {
    padding: 5px 12px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
  }

  footer {
    font-size: 8px;
  }

  .tool-bar-button {
    font-size: 20px;
  }

  .spacer {
    padding: 1px;
  }
}

@media (max-width: 600px) {
  .logo {
    float: left;
    width: 100px;
    height: 100px;
  }

  button
  {
    padding: 5px 12px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
  }

  footer {
    font-size: 8px;
  }

  .tool-bar-button {
    font-size: 15px;
  }

  .spacer {
    padding: 1px;
  }
}

@media (max-width: 400px) {
  .logo {
    float: left;
    width: 50px;
    height: 50px;
  }

  button
  {
    padding: 5px 12px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
  }

  footer {
    font-size: 4px;
  }

  .tool-bar-button {
    font-size: 10px;
  }

  .spacer {
    padding: 1px;
  }
}

.big-image {
  position: static;
  width: 200px;
  height: 200px;

  margin: auto;
  padding: 10px;
}


@media screen and (min-width: 1000px) {
  .big-text {
    text-align: center;
    font-size: 60px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 40px !important;
  }

  .small-text {
    text-align: center;
    font-size: 20px !important;
  }

  .big-image {
    align: center;
    width: 200px;
    height: 200px;
    padding-left: 45%;
  }
}

@media (max-width: 1000px) {
  .big-text {
    text-align: center;
    font-size: 40px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 20px !important;
  }

  .small-text {
    text-align: center;
    font-size: 10px !important;
  }
  .big-image {
    align: center;
    width: 100px;
    height: 100px;
    padding-left: 45%;
  }
}

@media (max-width: 600px) {
  .big-text {
    text-align: center;
    font-size: 20px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 10px !important;
  }

  .small-text {
    text-align: center;
    font-size: 5px !important;
  }
  .big-image {
    align: center;
    width: 100px;
    height: 100px;
    padding-left: 35%;
  }
}


.center-section {
  padding: 10%;
  padding-top: 6%;
  padding-bottom: 6%;
}

.center-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}


@media screen and (min-width: 1000px) {
  .big-text {
    text-align: center;
    font-size: 60px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 40px !important;
  }

  .small-text {
    text-align: center;
    font-size: 20px !important;
  }
}


@media (max-width: 1000px) {
  .big-text {
    text-align: center;
    font-size: 40px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 20px !important;
  }

  .small-text {
    text-align: center;
    font-size: 10px !important;
  }

}

@media (max-width: 600px) {
  .big-text {
    text-align: center;
    font-size: 20px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 10px !important;
  }

  .small-text {
    text-align: center;
    font-size: 5px !important;
  }

}

@media (max-width: 500px) {
  .big-text {
    text-align: center;
    font-size: 20px !important;
  }

  .mid-text {
    text-align: center;
    font-size: 10px !important;
  }

  .small-text {
    text-align: center;
    font-size: 5px !important;
  }
}

